{
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "plugins": ["jquery"],
    "parserOptions": {},
    "env": { "browser": true, "es6": true, "jquery": true },
    "globals": {},
    "rules": {}
}
